---
import PROJECTS from '../../data/projects';
import Layout from '../../layouts/Layout.astro';
import ProjectTags from '../../components/ProjectTags.svelte';
import ProjectLinks from '../../components/ProjectLinks.svelte';
import ImageGrid from '../../components/ImageGrid.svelte';
import ProjectWriteup from '../../components/ProjectWriteup.svelte';

const { projectID } = Astro.params;

const project = PROJECTS.find((project) => project.id === projectID);

---
<Layout title="fjallnari">
	<main class="lg:w-2/5 p-4 max-w-[100% - 2rem] m-auto lg:mt-24 h-full">
        <a href="/projects" class="text-timberwolf hover:text-timberwolf active:text-oxford-300">← Back</a>
		<div class="flex flex-col gap-2 mt-4">
            <h1 class="text-alabaster text-2xl">{project?.title}</h1>
			<h2 class="text-gray-400">{project?.from} - {project?.to}</h2>
			<ProjectLinks {project} client:load />
			<div class="flex flex-row gap-2 mb-4">
				<ProjectTags tags={project?.tags} wantBg client:load />
			</div>
			<ImageGrid {project} client:load />
			<ProjectWriteup {project} client:load />
		</div>
	</main>
</Layout>